.ag-cropper {
  :host {
    position: relative;
  }

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;

  .stage {
    position: absolute;
    // height: 100vh;
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
  }



  .box {
    position: absolute;
    border: 4px solid grey;
    box-sizing: border-box;
    box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.5);
  }


  .lt {
    position: absolute;
    height: 48px;
    width: 48px;
    left: -6px;
    top: -6px;
    border-left: 12px solid white;
    border-top: 12px solid white;
  }

  .lb {
    position: absolute;
    height: 48px;
    width: 48px;
    left: -6px;
    bottom: -6px;
    border-left: 12px solid white;
    border-bottom: 12px solid white;
  }

  .rt {
    position: absolute;
    height: 48px;
    width: 48px;
    right: -6px;
    top: -6px;
    border-right: 12px solid white;
    border-top: 12px solid white;
  }

  .rb {
    position: absolute;
    height: 48px;
    width: 48px;
    right: -6px;
    bottom: -6px;
    border-right: 12px solid white;
    border-bottom: 12px solid white;
  }

  .line-v {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .line-h {
    height: 2px;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .bar {
    height: 80px;
    padding: 36px;
    display: flex;
    flex-direction: row;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    .btn {
      position: relative;
      flex-grow: 1;
      border: 2px solid grey;
      line-height: 80px;
      text-align: center;
      color: white;
      font-size: 32px;
    }
    .btn-cancel {
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
    }

    .btn-submit {
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
    }
  }
}
